/* displays */
.df {
  display: flex;
}

.df_ai_ce {
  display: flex;
  align-items: center;
}

.df_ai_st {
  display: flex;
  align-items: flex-start;
}

.df_jc_sb {
  display: flex;
  justify-content: space-between;
}

.df_fd_cl {
  display: flex;
  flex-direction: column;
}

.df_jc_fe {
  display: flex;
  justify-content: flex-end;
}

.df_ce {
  display: flex;
  align-items: center;
  justify-content: center;
}
